h1{
    text-align: center;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
}

.add-img{
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 80px;
    z-index: 100px ;
}

@media screen and (max-width:1000px) {
    
    .add-img{
       height: 180px;
    }

    h1{
        font-size: 100px;
    }
}